*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 16px;
}

.borda{border: 1px solid black;}
.center{text-align: center;}

body{
    background-color: rgb(208, 231, 224);
}

/* -------------------------------------------------------- */
/* ------------------------- HEADER ----------------------- */
/* -------------------------------------------------------- */

header{
    background-color: rgb(92, 93, 145);
}

/* ---- */
/* MENU */
/* ---- */

.menu{
    padding: 15px;
    text-align: right;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    color: aquamarine;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */



/* ------ */
/* FOOTER */
/* ------ */

footer{
    background-color: rgb(92, 93, 145);
    text-align: center;
    color: aquamarine;
}

footer .footer{
    padding: 30px;
}

.container{
    margin: 1px auto;
    width: 80%;
}

.container-fluid{
    width: 100%;
}

.space-5{
    padding: 5px;
}

.space-10{
    padding: 10px;
}

/* -------------------------------------------------------- */
/* ------------------------- PRODUTO ----------------------- */
/* -------------------------------------------------------- */

.produto-layout{
    width: 100%;
}

.produto-layout a{
    text-decoration: none;
    color: black;
}

.produto-layout a:hover{
    text-decoration: underline;
    color: rgb(92, 93, 145);
}

.produto-layout td{
    padding: 50px;
}

.produto-layout li{
    padding: 20px;
}



/* -------------------------------------------------------- */
/* ----------------------- LISTA -------------------------- */
/* -------------------------------------------------------- */

.add-lista{
    width: 130px;
}

.add-lista a{
    text-decoration: none;
    color: rgb(92, 93, 145);
}

.add-lista span{
    font-size: 2.5rem;
}

.table-lista{
    border-collapse: collapse;
    width: 100%;
}

.table-lista a{
    text-decoration: none;
    color: black;
}

.table-lista a:hover{
    color: white;
    text-decoration: underline;
}

.table-lista td, .table-lista th{
    text-align: left;
    padding: 8px;
}

.table-lista th{
    background-color: rgb(92, 93, 145);
    color: aquamarine;
}

.table-lista tr:nth-child(even){
    background-color: #f2f2f2;
}

.table-lista tr:hover, .table-lista tr:hover a {
    background-color: rgb(92, 93, 145); 
    color: aquamarine;
}

.table-lista .red, .red td a{
    color: rgb(153, 81, 81);
}

.table-lista .green, .green td a{
    color: rgb(11, 124, 11);
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */


/* ---------------- */
/* PRODUTO CADASTRO */
/* ---------------- */

.form-group{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.form-control{
    display: block;
    margin-top: 1px;
    padding: 3px;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* --------- */
/* DASHBOARD */
/* --------- */

.dashboard-table{
    width: 100%;
}

.dashboard-table th{
    border-bottom: 1px solid black;
}

.dashboard-table .grupo{
    font-weight: 700;
}

.dashboard-table .space-td{
    padding: 4px;
    border: 0px;
}

.dashboard-table td{
    border-bottom: 1px solid black;
    text-align: center;
    height: 15px;
    font-size: 0.9rem;
}

.dashboard-receita{
    font-size: 2rem;
    color: rgb(68, 131, 32);
}

.dashboard-despesa{
    font-size: 2rem;
    color: rgb(173, 39, 39);
}

.dashboard-saldo{
    font-size: 2rem;
    color: rgb(34, 173, 155);
}

.dashboard-table .first-column{
    width: 120px;
}
